################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Network/bin/Debug
/NetworkTestClient/bin/Debug
/NetworkTestClient/bin/Debug
/Examples/NetworkTestClient/obj/Debug
/Examples/NetworkTestServer/obj/Debug
/Examples/TestServerClientPackets/obj/Debug
